.highcharts-container text {
    font-family: 'Montserrat-Bold' !important;
}

.highcharts-legend-item text {
    font-family: 'Montserrat-Medium' !important;
}

.highcharts-series-group {
    margin-top: -1*remCalc(40px); 
}