@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../../fonts/Montserrat-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Montserrat-Medium';
    src: url('../../fonts/Montserrat-Medium.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../../fonts/Montserrat-SemiBold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Montserrat-Bold';
    src: url('../../fonts/Montserrat-Bold.ttf') format('truetype');
  }

  .regular {
    font-family: 'Montserrat-Regular';
  }

  .medium {
    font-family: 'Montserrat-Regular';
  }

  .semi-bold {
    font-family: 'Montserrat-SemiBold';
  }

  .bold {
    font-family: 'Montserrat-Bold';
  }

  .to-caps {
      text-transform: uppercase;
  }

  .highcharts-container text {
    font-family: 'Montserrat-Bold' !important;
}

.highcharts-legend-item text {
    font-family: 'Montserrat-Medium' !important;
}
